#main-container{
    width: 200px;
    height: auto;
    padding: 10px 0;
    text-align: center;
    font-family: {textFontName};
    font-size: {textSize}px;
    color: {textColor};
    background-color: {backgroundColor};
    border-width: {borderWidth}px;
    border-radius: 20px;
    border-style: solid;
    border-color: {borderColor};
}