#main-container{
    width: 98%;
    height: auto;
    margin: 0 1%;
    padding: 15px 0;
    text-align: center;
    display: flex;
    align-items: center;
    font-family: {textFontName};
    font-size: {textSize}px;
    color: {textColor};
    background-color: {backgroundColor};
    border-width: {borderWidth}px;
    border-radius: {borderRadius}px;
    border-style: solid;
    border-color: {borderColor};
}
#title{
    width: 100%;
    height: auto;
    margin: 10px 0;
    margin-left: {titleMarginLeft}px;
    font-family: {titleFontName};
    font-size: {titleSize}px;
    color: {titleColor};
}
.texts-container {
    transition: height 0.3s ease;
    overflow: hidden;
}
.text-container{
    margin: auto;
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
}
.text-container.active {
    display: block;
    opacity: 1;
}
.text-container.measure {
  display: block !important;
  opacity: 0 !important;
  position: absolute;
  visibility: hidden;
}
#widget {
    display: block;
    transition: opacity 3s linear, transform 2s ease-in-out;
    transform: scale(0.95);
    pointer-events: none;
}

#widget.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: auto;
}

#widget.hidden {
  display: none;
}