#main-container{
    width: 98%;
    position: relative;
    height: auto;
    margin: 0 1%;
    padding: 15px 0;
    text-align: center;
    display: flex;
    align-items: center;
    font-size: {textSize}px;
    font-family: Montserrat;
    color: {textColor};
    background-color: {backgroundColor};
    border-width: {borderWidth}px;
    border-radius: {borderRadius}px;
    border-style: solid;
    border-color: {borderColor};
}
#title{
    width: 100%;
    height: auto;
    margin: 10px 0;
    margin-left: {titleMarginLeft}px;
    font-family: Montserrat;
    font-size: {titleSize}px;
    color: {titleColor};
}
.text-container{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: calc({textsPadding}-20)%; //тут говна
    height: auto;
    margin: auto;
    padding: {textsPadding}px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}
.text-container.active {
    opacity: 1;
    visibility: visible;
    z-index: 1;
}
#widget {
    display: block;
    opacity: 0;
    transition: opacity {widgetAppearanceTime}s ease;
    pointer-events: none;
}

#widget.visible {
    opacity: 1;
    pointer-events: auto;
}

#widget.hidden {
    opacity: 0;
}